<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8">
    <title>პროდუქტის დამატება</title>
</head>
<body>

<h1>ახალი პროდუქტი</h1>

<form method="POST">
    <input type="text" name="name" placeholder="პროდუქტის სახელი" required><br><br>
    <input type="number" name="price" placeholder="ფასი" required><br><br>
    <input type="text" name="image" placeholder="სურათის URL"><br><br>

    <button type="submit">დამატება</button>
</form>

<br>
<a href="/">⬅ დაბრუნება მთავარზე</a>

</body>
</html>
